{% extends 'updater/base.html' %}
{% block content %}
    <main>
    <center>
    <div class="section"></div>
    <h4 class="black-text">Passwort ändern</h4>
    <div class="section"></div>
    <div class="container">
        <div id = "UpdateView" class="row">
            <div class="z-depth-1 grey lighten-4 col xl6 offset-xl3 l6 offset-l3 m6 offset-m3 s12" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <form class="" action="" method="post">{% csrf_token %}
                    {{ formPasswd.as_p }}
                    <div class='row'>
                        <input type="submit" name="changePassword" onClick = "hideSelection()" class="col s12 btn waves-effect indigo" value="Update" />
                    </div>
                </form>
            </div>
        </div>
        <div class="container center">
            <div id = "spin" class="preloader-wrapper big">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
</center>
</main>
<script type="text/javascript">
function hideSelection(){
$( "#UpdateView" ).addClass( "hide" );
showSpinner();
}
function showSpinner(){
$( "#spin" ).addClass( "active" );
}
function hideSpinner(){
$( "#spin" ).removeClass( "active" );
}
</script>
<script type="text/javascript">$( document ).ready(function(){
{% if messages %}
{% for message in messages %}
{% if 'info' in message.tags %}
Materialize.toast( '{{ message }}' , 3000) // 4000 is the duration of the toast
{%endif%}
{% endfor %}
{% endif %}
});
</script>
{% endblock %}