{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="An updater that helps automate a task">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>Unit Club Updater</title>

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="{% static 'updater/images/android-desktop.png' %}">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Unit-Club-Updater">
        <link rel="apple-touch-icon-precomposed" href="{% static 'updater/images/ios-desktop.png' %}">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
<!--         <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#3372DF"> -->

        <link rel="shortcut icon" href="{% static 'updater/images/favicon.png' %}">

        <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
        <!--
        <link rel="canonical" href="http://www.example.com/">
        -->

        <link rel="stylesheet" href="{% static 'updater/materialize/css/materialize.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- <link rel="stylesheet" href="{% static 'updater/css/style.css' %}"> -->
        <script type="text/javascript" src="{% static '/updater/js/staystandalone.js' %}"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'updater/materialize/js/materialize.js' %}"></script>

        <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1 0 auto;
        }
        body {
            background: #fff;
        }
        .divider
        {
            margin-top: 3em;
            margin-bottom: 3em;
        }

        </style>
    </head>
        <body>
        {% block content %}
        {% endblock %}
        </body>
        </html>