{% extends 'updater/base.html' %}
{% block content %}
    <main>
    <center>
    {% if user.is_authenticated %}
        <h4>Hallo {{ user.username }} !</h4>
    {% else %}
        <p> Not authenticated </p>
    {% endif %}
    </center>
    {% if messages %}
        {% for message in messages %}
            <!-- Modal Structure -->
            <div id="ErrorModal" class="modal">
                <div class="modal-content red">
                    <h5 class="white-text" >  Error</h5>
                    {% if 'error' in message.tags %}
                    <ul class="white-text">{{ message }}</ul>
                {% endif %}
                <i class="material-icons">warning</i>
            </div>
            <div class="modal-footer red">
                <a href="/" class="modal-action modal-close waves-effect waves-green btn-flat white-text">Okay</a>
            </div>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div id ="login" class="col xl4 offset-xl4 l6 offset-l3 m6 offset-m3 s12">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header hoverable"><i class="material-icons">system_update_alt</i>
                    <div><span class = "left-align">InTouch</span>
                    {% if updateTime.6 %}
                        <span class = "right-align"> | {{updateTime.6}} (h:mm:ss)</span>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body ">
                <div class="row">
                    <form action="{% url 'updater:sessionIntouch' user.id %}" class="col s12" method="post">
                        {% csrf_token %}
                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='text' name='username' id='username' value = "{{loginNames.inTouch}}" placeholder="Nutzername" >
                            </div>
                        </div>
                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='password' name='password' id='password' placeholder="Passwort" />
                            </div>
                        </div>
                        <br />
                        <center>
                        <div class='row'>
                            <button onclick="hideSelection()" type='submit' name='btn_login' class='col s12 btn btn-medium waves-effect indigo'>Login</button>
                        </div>
                        </center>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header hoverable"><i class="material-icons">system_update_alt</i><span class = "">Unit Club</span>
            {% if updateTime.7 %}
                <span class = "right-align"> | {{updateTime.7}} (hh:mm:ss)</span>
            {% endif %}</div>
            <div class="collapsible-body ">
                <div class="row">
                    <form action="{% url 'updater:sessionUnitClub' user.id %}" class="col s12" method="post">
                        {% csrf_token %}
                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='text' name='username' id='username' value = "{{loginNames.unitClub}}" placeholder="Nutzername" />
                            </div>
                        </div>
                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='password' name='password' id='password' placeholder="Passwort" />
                            </div>
                        </div>
                        <br />
                        <center>
                        <div class='row'>
                            <button onclick="hideSelection()" type='submit' name='btn_login' class='col s12 btn btn-medium waves-effect indigo'>Login</button>
                        </div>
                        </center>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
{% if updateTime.6 and updateTime.7 %}
<div id = "firstDivider" class="divider"></div>
<div class="container">
    <div class="row">
        <div class="col m8 offset-m2 s12">
            <p id="info" class="center flow-text" >Klicke auf die Buttons um die entsprechenden Seiten zu aktualisieren. Die Aktualisierung kann sehr lange dauern.</p>
        </div>
    </div>
    <div class="row">
        <div id = "selection" class="collection col m8 offset-m2 s12 z-depth-1">
            <a onclick="hideSelection()" href="{% url 'updater:refresh' item_id=5 user_id=user.id %}" class="collection-item black-text">Adressen und Karrierestufen | {{updateTime.5}}</a>
            <a onclick="hideSelection()" href="{% url 'updater:refresh' item_id=0 user_id=user.id %}" class="collection-item black-text">Monats-Umsatz | {{updateTime.0}}</a>
            <a onclick="hideSelection()" href="{% url 'updater:refresh' item_id=2 user_id=user.id %}" class="collection-item black-text">Team-Umsatz | {{updateTime.2}}</a>
            <a onclick="hideSelection()" href="{% url 'updater:refresh' item_id=3 user_id=user.id %}" class="collection-item black-text">Team-Provision | {{updateTime.3}}</a>
            <a onclick="hideSelection()" href="{% url 'updater:refresh' item_id=4 user_id=user.id %}" class="collection-item black-text">Erfolgsleiter aktuelles Quartal | {{updateTime.4}}</a>
            <a onclick="hideSelection()" href="{% url 'updater:refresh' item_id=1 user_id=user.id %}" class="collection-item black-text">Erfolgsleiter vergangenes Quartal | {{updateTime.1}}</a>
        </div>
    </div>
</div>
{% else %}
<center>
<container>
<div class = "row">
    <div class = "col m8 offset-m2 s12">
        <p class="flow-text"> Um deine Seiten aktualisieren zu können musst du dich erst bei InTouch und dem Unit Club anmelden</p>
    </div>
</div>
</container>
</center>
{% endif %}
<div class="container center">
<div id = "spin" class="preloader-wrapper big">
    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
    </div><div class="circle-clipper right">
    <div class="circle"></div>
</div>
</div>
</div>
</div>
<!-- {% url 'updater:sessionIntouch' user.id %}
{% url 'updater:sessionUnitClub' user.id %} -->
</main>


<script type="text/javascript">$( document ).ready(function(){
$(".button-collapse").sideNav();
$('.modal').modal();
{% if messages %}
{% for message in messages %}
{% if 'info' in message.tags %}
Materialize.toast( '{{ message }}' , 3000) // 4000 is the duration of the toast
{%endif%}
{% if 'error' in message.tags %}
    $('#ErrorModal').modal('open');
    console.log('error')
{% endif %}
{% endfor %}
{% endif %}
});
</script>
<script type="text/javascript">
function hideSelection(){
$('.ErrorModal').modal('open');
$( "#selection" ).addClass( "hide" );
$( "#info" ).addClass( "hide" );
$( "#login" ).addClass( "hide" );
$( "#firstDivider" ).addClass( "hide" );
showSpinner();
}
function showSpinner(){
$( "#spin" ).addClass( "active" );
}
function hideSpinner(){
$( "#spin" ).removeClass( "active" );
}
</script>
{% endblock %}


{% block footer %}

{% endblock %}
