{% extends 'updater/base.html' %}
{% block navbar %}

{% endblock %}


{% block content %}
    <main>
    <div class="container">
    <p class="flow-text left-align">Mit <a href="/">Mary Kay Updater</a> kannst du deine Informationen auf der Unit Club <a href="www.unit-club.de"> Webseite</a> aktualisieren.</p>
    <p class="flow-text left-align">Dazu musst du dich sowohl bei Mary Kay Intouch als auch im Unit Club anmelden. Dazu klickst du auf die entsprechenden Buttons auf der Startseite, gibst deine Infromationen ein und klickst auf Login. Deine Anmeldedaten werden nicht auf dieser Seite gespeichert. Es wird lediglich deine Session gespeichert, die nach ein paar Stunden wieder abläuft. Danach musst du dich wieder neu einloggen.</p>

    <p class="flow-text left-align">Nachdem du dich erfolgreich eingeloggt hast, kannst du mit einem Knopfdruck die entsprechenden Bereiche des Unit Clubs aktualisieren. Das aktualisieren kann lange dauern, da die Dateien erst runter- und dann wieder hochgeladen werden müssen.</p>
    </div>
    <center>
    <a href="{% url 'updater:infoaccept' %}" class=' col s12 btn btn-large waves-effect indigo'>Verstanden</a>
    </center>
</main>
<div class="section"></div>

<script type="text/javascript">$( document ).ready(function(){
$(".button-collapse").sideNav();
});
</script>
{% endblock %}

{% block footer %}
{% endblock %}

