{% extends 'updater/base.html' %}
{% block navbar %}

{% endblock %}
{% block content %}
    <main>
    <div class="container">
    <center>
    <p class="flow-text left-align">Hier kannst du dein Passwort und deine Nutzerdaten aktualisieren.</p>
    <div class="row">
        <div id ="changeData" class="col xl4 offset-xl4 l6 offset-l3 m6 offset-m3 s12">
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header hoverable">
                    <div>
                    <i class="material-icons">vpn_key</i>
                    <span class = "left">Passwort ändern</span>
                    </div>
                </div>
                <div class="collapsible-body ">
                    <div class="row">
                        <form method="POST" class="post-form">
                            {% csrf_token %}
                            {{ formPasswd.as_p }}
                            <button type="submit" name="changePassword" class="save btn btn-default">Ändern</button>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header hoverable">
                <i class="material-icons">person_pin</i>
                <span class = "left">Nutzerdaten ändern</span>
            </div>
            <div class="collapsible-body ">
                <div class="row">
                        <form method="POST" class="post-form">
                            {% csrf_token %}
                            {{ formUser.as_p }}
                            <button type="submit" name="changeUser" class="save btn btn-default">Ändern</button>
                        </form>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
<!-- <div class="container" >
<form method="POST" class="post-form">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
</div> -->
</center>
</div>
</main>
<script type="text/javascript">$( document ).ready(function(){
$(".button-collapse").sideNav();
});
</script>
{% endblock %}
{% block footer %}
{% endblock %}