{% extends 'updater/base.html' %}

{% block content %}
<main>
<center>
<div class="section"></div>
<h5 class="black-text">Registrieren</h5>
<div class="container">
    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        <form class="col m6 offset-m3 s12" method="post">
            {% csrf_token %}
            <div class='row'>
                <div class='col s12'>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    {{form.username.label_tag}}
                    <input class='validate' type='text' name='{{form.username.name}}' id='{{form.username.auto_id}}' placeholder="" />
                    <small class="left" style="color: grey">{{form.username.help_text}}</small>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    {{form.password1.label_tag}}
                    <input class='validate' type='password' name='{{form.password1.name}}' id='{{form.password1.auto_id}}' placeholder="" />
                <small class = "left" style="color: grey">{{form.password2.help_text}}</small>

                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    {{form.password2.label_tag}}
                    <input class='validate' type='password' name='{{form.password2.name}}' id='{{form.password2.auto_id}}' placeholder="" />
                </div>
            </div>
            <br />
            <center>
            <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Signup</button>
            </div>
            </center>
        </form>
    </div>
</div>
</center>
</main>

<!-- <div class="container">
    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

 <form method="post">
    {% csrf_token %}

    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="col s12 btn btn-large waves-effect indigo">Sign up</button>
  </form>
  </div>
  </div> -->
{% endblock %}
{% block footer %}
<footer class = "page-footer indigo">
<p class = "center white-text"> made by <a class="white-text" href="mailto:mail@lennartduschek.de"> Lennart Duschek </a>(2017)</p>
</footer>
{% endblock %}
