{% extends 'updater/headerOnly.html' %}
{% block content %}
    <div class="section"></div>
    <main>
    <center>
    <div class="section"></div>
    <h5 class="black-text">Bitte Logge dich ein:</h5>
    <div class="section"></div>
    <div class="container">
        <div id ="loginField" class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
            <form class="col s12" method="post">
                {% csrf_token %}
                <div class='row'>
                    <div class='col s12'>
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='username' id='username' placeholder="Nutzername" />
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='password' name='password' id='password' placeholder="Passwort" />
                    </div>
                </div>
                <br />
                <center>
                <div class='row'>
                    <button type='submit' onClick="hideSelection()" name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
                </div>
                </center>
            </form>
        </div>
    </div>
    <!-- Modal Structure -->
        <div id="ErrorModal" class="modal">
            <div class="modal-content red">
                    <h5 class="white-text" >Fehler</h5>
                <ul class="list">
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <li class = "white-text">{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                    {% for field in form %}
                        {% if field.errors %}
                            <li class = "white-text">{{ field.label }}: {{ field.errors|striptags }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <i class="material-icons">warning</i>
            </div>
            <div class="modal-footer red">
                <a href="/" class="modal-action modal-close waves-effect waves-green btn-flat white-text">Okay</a>
            </div>
        </div>
    <!-- <a href="#!">Create account</a> -->
    </center>
    <div class="container center">
    <div id = "spin" class="preloader-wrapper big">
    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
    </div><div class="circle-clipper right">
    <div class="circle"></div>
</div>
</div>
</div>
</div>
    <div class="section"></div>
    <div class="section"></div>
    </main>
</div>
<script type="text/javascript">$( document ).ready(function(){
$('.modal').modal();
{% if form.errors %}
    $('#ErrorModal').modal('open');
{% endif %}
});
</script>
<script type="text/javascript">
function hideSelection(){
$( "#loginField" ).addClass( "hide" );
showSpinner();
}
function showSpinner(){
$( "#spin" ).addClass( "active" );
}
function hideSpinner(){
$( "#spin" ).removeClass( "active" );
}
</script>
{% endblock %}
