{% extends 'updater/base.html' %}
{% block content %}
<main>
<div class="container">
<center>
<h4>Logout erfolgreich</h4>
<p class="flow-text">Du wirst nun zum Login weitergeleitet ...</p>
<p class="flow-text">Bis bald!</p>
</center>
</div>
</main>
<script>setTimeout(function(){window.location.href='/'},2000);</script>

{% endblock %}
{% block footer %}
{% endblock %}